DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_TIME_ZONE=America/Asuncion
USE_WHITENOISE=true

POSTGRES_DB=tesisdb
POSTGRES_USER=tesisuser
POSTGRES_PASSWORD=tesispassword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Preferible en produccion cuando la plataforma la provee:
# DATABASE_URL=postgis://user:password@host:5432/database
